/build/
target/
bin/
.project
.classpath
.settings/
*~
*.orig
*.new
.idea/
*.iml
*.ipr
test/**/build/
examples/**/build/

*.class
*.log
*.jar
*.war
*.ser
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs
hs_err_pid*
